*{
padding: 0;
margin: 0;
box-sizing:border-box;
}
body{
background:url(../black-linen.png), #494545;
background-attachment: fixed;
background-size: cover;
background-repeat:repeat;
height: 100vh;
width: 100vw;
display: flex;
align-items: center;
justify-content: center;
}
.rectrangle{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
width: 898px;
height: 285px;

background: rgba(255, 255, 255, 0.45);
border-radius: 96px;
z-index: 1;
}

.img{
	position: absolute;
width: 225px;
height: 225px;
left: 20%;
top: 50%;
transform: translateY(-50%);
background: url(../download.jpg);
border-radius: 112.5px;
z-index: 2;
}
.imgm{
	position: absolute;
	width: 225px;
	height: 225px;
	left: 0%;
	top: 50%;
	transform: translate(-190%,-50%);
	background: url(../roblox.png);
	border-radius: 112.5px;
	z-index: 2;

}
.imgmm{
	position: absolute;
	width:  300px;
	height: 300px;

	transform: translate(-190%,-50%);
	background: url(../youtube-music-logo-50422973B2-seeklogo.com.png);
	
	z-index: 2;

}
.txt{
	position: absolute;
width: 928px;
height: 91px;
left: 10%;
top: 20%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;

color: #13FFFF;
}
.tx{
	position: absolute;
width: 480px;
height: 72px;
left: 45%;
top: 41%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;

}
.t{
	position: absolute;
width: 422px;
height: 74px;
left: 50%;
top: 50%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;

}
.txx{
	position: absolute;
width: 480px;
height: 72px;
transform: translate(-20%,-90%);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 75px;

color: #FFFFFF;

}
.tm{
	position: absolute;
width: 422px;
height: 74px;
transform: translate();

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;

}
.ico{
	position: absolute;
	left: 68%;
	top: 60%;
	color: #fff;
	width: 10px;
		z-index: 3;
}
.div3 .ico{
	transform: translate(2500%,500%);
	color: #fff;
	width: 10px;
		z-index: 3;
}
.ico:hover {
	color: #13ffff;

}
.logo{
	float: top left;
	width: auto;
	height: auto;
	position: absolute;
	top: 0%;
	left: 0%;
}
div{
	display: flex;
	flex-direction: column;
}
.div2 .txx {
	transform: translate(-20%,-90%);
	width: 900px;
}.div2 .ico{
	transform: translate(2500%,500%);
	color: #fff;
	width: 10px;
		z-index: 3;
}
.div2 .ic:hover{
	transform: translate(2500%,500%);
	color: #13ffff;
	width: 10px;
		z-index: 3;
}

@media screen and (max-width: 768px) {
  .logo{
    
position: absolute;
width: 188px;
height: 181px;
left: 0px;
top: -2px;

  }
  .rectrangle{
  	width: 50vh;
height: 20vh;

  }
  .img{

position: absolute;
scale: .5;
left: 10%;
top: 50%;
transform: translate(-20%,-100%);
 }
 .imgm{

	position: absolute;
	scale: .5;
	right: 100;
	top: 40%;
	transform: translate(-180%,-100%);
	
	 }
  .txt{
  position: absolute;
width: 345px;
height: 93px;
left: 14px;
top: 132px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 47px;

color: #13FFFF;

  }
  .tx{
  	position: absolute;
width: 480px;
height: 72px;
left: 50%;
top: 45%;

font-size: 24px;
line-height: 28px;

color: #FFFFFF;

  }

	.txx{
		position: absolute;
  width: 480px;
  height: 72px;
  left: 50%;
  top: 45%;
  
  font-size: 24px;
  line-height: 28px;
  transform: translateY(-30px);
  color: #FFFFFF;
  
	}
	.tm {
		position: absolute;
		width: auto;
		left: -50%;
		top: -50%;
		color: #fff;
		width: 12rem;
		font-size: .8rem;
	}
	.ico{
		position: absolute;
		left: 68%;
		top: 55%;
		color: #fff;
		width: 10px;
			z-index: 3;
	}

  .div2 .txx {
	transform: translate(-20%,-90%);
	width: 900px;
}.div2 .immm{
	margin-left:4rem ;
	color: #fff;
	width: 10px;
		z-index: 3;
}

  }
