.home__parallax-img1 {
  background-image: url("/img/imgm1.png");
  z-index: var(--z-normal);
}

.home__parallax-img2 {
  background-image: url("/img/imgm2.png");
  z-index: var(--z-tooltip);
}

.home__parallax-img3 {
  background-image: url("/img/imgm3.png");
  z-index: var(--z-fixed);
}

.home__parallax-img4 {
  background-image: url("/img/imgm4.png");
  z-index: var(--z-fixed);
}
